<app-header></app-header>
<style>
    .card {
  /* Estilos generales de las tarjetas */
  opacity: 0; /* Inicialmente invisibles */
  transform: translateY(20px); /* Puedes animar la entrada si lo deseas */
  transition: opacity 0.5s, transform 0.5s;
}

.card.visible {
  opacity: 1; /* Hacer visible cuando está en la vista */
  transform: translateY(0);
}
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen según sea necesario */
}

video {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc; /* Borde para mejorar la apariencia */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para mejorar la apariencia */
}

.controles {
  margin-top: 10px;
}

.boton-control {
  background-color: #007BFF; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  margin-right: 10px; /* Espaciado derecho entre botones */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Efecto de transición en el cambio de color de fondo */

  /* Estilo adicional al pasar sobre el botón */
  &:hover {
    background-color: #0056b3;
  }
}

</style>

<div class="video-container">
  <video #reproductorVideo width="640" height="360" controls>
    <source src="../assets/videoGateWay.mp3" type="video/mp4">
    Tu navegador no soporta el elemento de video.
  </video>

  <div class="controles">
    <button class="boton-control" (click)="reproducirVideo()">Reproducir</button>
    <button class="boton-control" (click)="pausarVideo()">Pausar</button>
  </div>
</div>

<h2 class="mt-3 mb-3 ml-3">Ofertas</h2>
<div class="card-container d-flex justify-content-around flex-wrap mb-4 ml-3 mr-3">


<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
    <img src="../assets/tablet-htc.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Tablet HTC</h5>
        <p class="card-text">$3,999</p>
        <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
        <a href="#" class="btn btn-success">Añadir al carrito</a>
    </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/proyector-benq.jpg" class="card-img-top"  alt="...">
  <div class="card-body">
    <h5 class="card-title">Proyector BENQ</h5>
    <p class="card-text">$4,999</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/memoria-usb.jpg" class="card-img-top" alt="..." >
  <div class="card-body">
    <h5 class="card-title">Memoria USB</h5>
    <p class="card-text">$299</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/laptop-hp.jpg" class="card-img-top" alt="..." >
  <div class="card-body">
    <h5 class="card-title">Laptop HP</h5>
    <p class="card-text">$8,999</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/samsung-galaxy-a03.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Samsung Galaxy A03</h5>
    <p class="card-text">$5,999</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/disco-duro.jpg" class="card-img-top" alt="..." >
  <div class="card-body">
    <h5 class="card-title">Disco Duro</h5>
    <p class="card-text">$999</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/audifonos-bose.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Audifonos BOSE</h5>
    <p class="card-text">$1,499</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 0 10px 20px 10px;" onmouseover="enlargeCard(this)" onmouseout="shrinkCard(this)">
  <img src="../assets/alcohol-isopropilico.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Alcohol Isopropilico</h5>
    <p class="card-text">$499</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px;">Detalles</a>
    <a href="#" class="btn btn-success">Añadir al carrito</a>
  </div>
</div>

</div>
<app-footer></app-footer>



